.DS_Store
.env
.env.*
.venv/
.local/
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/
build/
dist/
.history/
*.code-workspace
docs/peanut/**
!docs/peanut/
!docs/peanut/.gitkeep
